@keyframes onMountTitle {
    from {
        opacity: 0;
        transform : translateY(0);
    }
    to {
        opacity: 1;
        transform : translateY(-30%);
    }
}

@keyframes onMountText {
    0% {
        opacity: 0;
        transform : translateY(0);
    }
    50% {
        opacity: 0;
        transform : translateY(0);
    }
    100% {
        opacity: 1;
        transform : translateY(-25%);
    }
}

@keyframes nextBtn {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes onMenuOpen {
    from {
        opacity: 0;
        transform : translate(0);
    }
    to {
        opacity: 1;
        transform : translate(-5%);
    }
}
